{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} Acceuil {% endblock %}

{% block body %}
<div class="">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
</div>
{% endblock %}
