<footer class="footer font-small bg-dark mt-5 text-secondary">
    <div class="row mx-0 align-items-center py-2">
        <div class="col-md-4 col-lg-4 py-2 text-center ">
            <a href="https://www.linkedin.com/in/damien-changenot/" target="_blank">
                <img class="ml-2" src="{{ asset('build/linkedin.png')}}" alt="linkedin logo">
            </a>
            <a href="https://github.com/damienchangenot" target="_blank" class="ml-2">
                <img src="{{ asset('build/github.png') }}" alt="github logo">
            </a>
        </div>
        <div class="col-md-4 col-lg-4 text-center order-last border-left border-right border-white py-2">© 2021 Copyright:
            <a class="text-dark" href="#"> poudlard.com</a>
            <p class="mb-0">Site réalisé par Damien Changenot</p>
        </div>
        <div class="col-md-4 col-lg-4 text-center order-md-last order-lg-last py-2 ">
            <img src="{{ asset('build/phone.png') }}" alt="phone logo">
            <p class="mt-2 mb-0"><strong>06 35 37 35 38</strong></p>
        </div>
    </div>
</footer>