{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{{ path('app_home') }}">
                <img class="navbar-brand py-0" src="{{ asset('build/poudlard-logo.png') }}" alt="poudlard logo" width="50" height="50">
            </a>
            <a class="nav-item nav-link" href="#">Actualité</a>
            <a class="nav-item nav-link" href="#">L'école</a>
            <a class="nav-item nav-link" href="#">Trombinoscoe</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
    </div>
</nav>
{% endblock %}