@import "~bootstrap/scss/bootstrap";
@import "variable";
@import "navbar";
body {
    padding-top: $margin-body;
    font-family: $font-family;
    background: url("../images/bg-parchemin.jpg");

}

.header {
    height: $height-header;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-img-top{
    max-height: $max-height-card;
    width: auto;
}

.border{
    border: 5px solid $warning !important;
}