@import "~bootstrap/scss/bootstrap";
@import "variable";
@import "navbar";
@import "home";
@import "about";
@import "actuality";
@import "student";
body {
    padding-top: $margin-body;
    font-family: $font-family;
    background:  url("../images/bg.jpg");
    color: $white;
}


.card{
    height: 380px;
}
.card-img-top{
    max-height: $max-height-card;
    width: auto;
}

.border{
    border: 5px solid $warning !important;
}

h1, h2 {
    font-family: $font-school;
}
h1{
    font-size: $font-size-title;
}
h2{
    font-size: $font-size-2;
}