@font-face {
  font-family: "Magic";
  src: url("magic-school.one.ttf");
}
$font-family : 'Source Serif Pro', serif;
$font-school: 'Magic';
$font-size-title: 66px;
$font-size : 24px;
$font-nav: 30px;
$font-footer:1rem;
$margin-body: 68px;
$dark: #343a40;
$secondary: rgba(255, 255, 255, 0.5);
$height-header: 49vw;
$width-carousel:90%;