{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vous avez reçu un message de {{ app.user.student.name }} :</h1>
    <p>{{ message }}</p>

    <p>Répondre par email : <a href="{{ app.user.email }}">{{ app.user.email }}</a></p>
{% endblock %}