{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} Modifier un Professeur{% endblock %}

{% block body %}
    <section class="container my-5">
    <div class="text-center">
    <h1>Modifier un professeur</h1>
    <small>de façons légales bien sur...</small>
    </div>
    {{ include('admin/teacher/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class="text-center my-3">
         {{ include('admin/teacher/_delete_form.html.twig') }}
        </div>
    <a class="btn btn-secondary rounded-pill" href="{{ path('admin_teacher_index') }}">Retour à l'index</a>


    </section>
{% endblock %}
